<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="local-visor">
  <template>

    <style>

      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img   src="https://image.flaticon.com/icons/svg/427/427735.svg" alt="">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <input type="text" value="[[prop1]]">      </div>
      <div class="row">
        <table class="table-striped">
          <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>2</td>
              <td>2</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LocalVisor extends Polymer.Element {
      static get is() { return 'local-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 42
          },
          prop3: {
            type: String,
            value: "Indique USuario"
          }
        };
      }
      incrementar() {
        this.prop2++;
      }
    }



    window.customElements.define(LocalVisor.is, LocalVisor);
  </script>
</dom-module>
